* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

/* Navbar */

.logo-img {
  width: 100px;
}

/* .nav-container {
  background-color: black;
} */

.navbar-flex {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 2rem;
}

.nav-list-container .nav-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.list-items a {
  color: white;
  text-decoration: none;
}

.list-items a:hover {
  color: #ffd000;
}

/* Mobile Menu */
.nav-container .mobile-menu-list-container {
  position: fixed;
  top: 91.58px;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgb(23, 23, 24);
  transition: transform 0.3s ease;
  padding: 1rem;
  transform: translatex(100%); /*Hide the mobile menu items off screen*/
}

.mobile-menu-list .mobile-menu-list-items {
  list-style: none;
  padding: 2rem 0;
  font-size: 20px;
}

.mobile-menu-list-items a {
  text-decoration: none;
  color: white;
}

.mobile-menu .mobile-menu-toggle {
  cursor: pointer;
}

.nav-container .mobile-menu {
  display: none;
}

.nav-container .mobile-menu-list-container.active {
  transform: translateX(0);
}

.mobile-menu-list-items a:hover {
  color: #ffd000;
}

/* 
Hero section header */

header {
  background-image: url(images/header-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 5rem;
}

.hero-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  gap: 6rem;
  padding-bottom: 8rem;
}

.hero-header {
  font-size: 65px;
}

.frame-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.hero-subtext {
  margin-top: 2rem;
  font-size: 20px;
  line-height: 2.3rem;
  margin-bottom: 2rem;
}

.hero-text {
  color: white;
}

.btn {
  padding: 1.4rem 2.3rem;
  background-color: #ffd000;
  font-size: 16px;
  border: none;
  border-radius: 30px;
}

/* Media Queries */

@media (max-width: 1200px) {
  .hero-img {
    width: 500px;
  }
}

@media (max-width: 900px) {
  .hero-img {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .nav-list-container .nav-list {
    display: none;
  }

  .nav-container .mobile-menu {
    display: block;
  }

  .nav-container .mobile-menu-list-container {
    height: calc(100dvh - 91.58px);
    overflow-y: auto;
  }

  .hero-header-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .hero-text {
    text-align: center;
  }

  .hero-header {
    font-size: 50px;
  }

  .hero-subtext {
    font-size: 19px;
  }

  .hero-btn {
    font-size: 20px;
  }
}
