* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
  background-color: rgb(219, 112, 112);
  font-family: "Open Sans", sans-serif;
}

/* Navbar */

.logo-img {
  width: 100px;
}

.nav-container {
  background: black;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 2rem;
}

.nav-list-container .nav-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.list-items a {
  color: white;
  text-decoration: none;
}

.list-items a:hover {
  color: #ffd000;
}
