* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
  background-color: rgb(219, 112, 112);
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

/* Navbar */

.logo-img {
  width: 100px;
}

.nav-container {
  background: black;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 2rem;
}

.nav-list-container .nav-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.list-items a {
  color: white;
  text-decoration: none;
}

.list-items a:hover {
  color: #ffd000;
}

/* Mobile Menu */
.nav-container .mobile-menu-list-container {
  position: fixed;
  top: 91.58px;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgb(23, 23, 24);
  transition: transform 0.3s ease;
  padding: 1rem;
  transform: translatex(100%); /*Hide the mobile menu items off screen*/
}

.mobile-menu-list .mobile-menu-list-items {
  list-style: none;
  padding: 2rem 0;
  font-size: 20px;
}

.mobile-menu-list-items a {
  text-decoration: none;
  color: white;
}

.mobile-menu .mobile-menu-toggle {
  cursor: pointer;
}

.nav-container .mobile-menu {
  display: none;
}

.nav-container .mobile-menu-list-container.active {
  transform: translateX(0);
}

.mobile-menu-list-items a:hover {
  color: #ffd000;
}

/* Media Queries */

@media (max-width: 768px) {
  .nav-list-container .nav-list {
    display: none;
  }

  .nav-container .mobile-menu {
    display: block;
  }

  .nav-container .mobile-menu-list-container {
    height: calc(100dvh - 91.58px);
    overflow-y: auto;
  }
}
