* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

body {
  background-color: rgb(219, 112, 112);
  font-family: "Open Sans", sans-serif;
}

.logo-img {
  width: 100px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  background-color: blueviolet;
}

.nav-list-container .nav-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.list-items a {
  color: white;
  text-decoration: none;
}
