* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Navbar */

.logo-img {
  width: 100px;
}

.nav-container {
  background: transparent;
  position: fixed;
  z-index: 1001;
  width: 100%;
  transition: background-color 0.3s ease;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 2rem;
}

.nav-list-container .nav-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.list-items a {
  color: white;
  text-decoration: none;
}

.list-items a:hover {
  color: #ffd000;
}

/* Mobile Menu */
.nav-container .mobile-menu-list-container {
  position: fixed;
  top: 91.58px;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgb(23, 23, 24);
  transition: transform 0.3s ease;
  padding: 1rem;
  transform: translatex(100%); /*Hide the mobile menu items off screen*/
}

.nav-container.navbar-scroll {
  background-color: rgba(235, 77, 85, 0.7);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.mobile-menu-list .mobile-menu-list-items {
  list-style: none;
  padding: 2rem 0;
  font-size: 20px;
}

.mobile-menu-list-items a {
  text-decoration: none;
  color: white;
}

.mobile-menu .mobile-menu-toggle {
  cursor: pointer;
}

.nav-container .mobile-menu {
  display: none;
}

.nav-container .mobile-menu-list-container.active {
  transform: translateX(0);
}

.mobile-menu-list-items a:hover {
  color: #ffd000;
}

/* 
Hero section header */

header {
  background-image: url(images/header-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 12rem 0 5rem;
  margin-top: 0;
}

.hero-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding-bottom: 20rem;
}

.hero-img {
  width: 700px;
}

.hero-header {
  font-size: 65px;
}

.frame-decoration {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
}

.hero-subtext {
  margin-top: 2rem;
  font-size: 20px;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.hero-text {
  color: white;
}

.btn {
  padding: 1.4rem 2.3rem;
  background-color: #ffbf01;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background: #ff5757;
}

/* Learn section */

.learn {
  margin-bottom: 7rem;
}

.learn-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  column-gap: 30px;
  row-gap: 60px;
}

.learn-text-container,
.chapters-text,
.summary-header-container,
.takeaway-header-container {
  text-align: center;
  margin-bottom: 3rem;
}

.learn-header,
.chapters-header,
.summary-header,
.takeaway-header,
.course-details-header {
  font-size: 40px;
  margin-bottom: 1rem;
}

.heading-border,
.chapters-border,
.summary-border,
.takeaway-border {
  width: 64px;
  height: 4px;
  background-color: #f11313;
  margin: 0 auto 2rem;
}

.learn-subtext,
.chapters-subheading,
.takeaway-subtext {
  margin-top: 2rem;
  font-size: 25px;
  width: 900px;
  margin: 2rem auto;
  line-height: 2rem;
}

.learn-grid-container img {
  width: 320px;
}

.grid-item p {
  font-weight: 700;
  font-size: 20px;
}

.grid-item img {
  transition: transform 0.3s;
}

.grid-item img:hover {
  transform: scale(1.1);
}

/* Chapters section */

.chapters-flex {
  display: flex;
  column-gap: 40px;
  margin-bottom: 6rem;
}

.chapters-item {
  -webkit-box-shadow: 1px 5px 15px -6px #000000;
  box-shadow: 1px 5px 15px -6px #000000;
  padding: 3rem 1rem;
  flex: 1;
}

.img-container {
  text-align: center;
}

.chapterimg {
  width: 200px;
  margin: 1rem auto;
}

.chapter1text-container {
  text-align: center;
}

.chapter1-header {
  margin-bottom: 1rem;
}

.chapter1-subtext {
  font-size: 20px;
}

/* Summary Section */

.summary {
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  padding-bottom: 6rem;
}

.summary-header-container {
  padding-top: 3rem;
  margin-top: 4rem;
}

.course-summary-header-container {
  background-color: lightcoral;
  width: 90%;
  color: white;
  margin: 2rem auto;
  padding: 0.7rem;
}

.summary-points {
  background-color: white;
  width: 65%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.summary-list-item {
  padding: 1.5rem;
  list-style: none;
  border-bottom: solid 1px #f4f4f4;
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
}

/* CourseFor Section */

.coursefor {
  display: flex;
  background-color: #ff5757;
  color: white;
  margin-bottom: 3rem;
}

.coursefor-text {
  margin-top: 5rem;
  margin-left: 5rem;
  width: 50%;
}

.coursefor-img {
  width: 100%;
  height: 100%;
}

.coursefor-header {
  font-size: 40px;
}

.coursefor-subtext {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 25px;
  width: 90%;
}

.coursefor-list {
  list-style: none;
}

.coursefor-list-items {
  font-size: 25px;
  padding: 0.5rem 0;
}

/* Takeaways section */

.takeaway-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 2rem;
}

.takeaway-content-container {
  display: flex;
  box-shadow: -1px 3px 15px -3px #000000;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.takeaway-text {
  font-size: 20px;
}

/* Course Details */

.course-details-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  margin-top: 7rem;
}

.flex-author {
  display: flex;
  flex-direction: row-reverse;
}

.course-details-border {
  width: 64px;
  height: 4px;
  background-color: #f11313;
}

.course-details-subtext {
  margin-top: 2rem;
  font-size: 20px;
}

.course-details-img {
  width: 600px;
}

.coursedetails {
  margin-top: 3rem;
}

/* Author Information */
.author-list {
  list-style: none;
  margin-top: 2rem;
  font-size: 20px;
}

.author-list-items {
  padding: 0.5rem;
}

/* Stats */

.stats {
  background-image: url(images/stats-background.jpg);
  margin-top: 5rem;
}

.stats-img {
  margin-top: 4rem;
}

.stats-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  column-gap: 10rem;
}

.stats-numbers {
  display: flex;
  column-gap: 40px;
}

.stats-text-container {
  text-align: center;
}

.stats-num {
  font-size: 50px;
}

.stats-subtext {
  margin: 3rem auto;
  font-size: 25px;
}

/* Newsletter */

.newletter-container {
  background-color: #f4f4f4;
  width: 50%;
  margin: 4rem auto;
  text-align: center;
}

.newsletter-text-content {
  padding: 3rem 0;
}

.newsletter-header {
  font-size: 40px;
}

.newsletter-subtext {
  font-size: 20px;
  width: 70%;
  margin: 1rem auto;
}

.newsletterform label {
  display: none;
}

.newsletterform input {
  padding: 1rem 2rem;
  width: 40%;
  border: rgb(202, 202, 202) solid 1px;
  font-size: 16px;
  border-radius: 25px;
  margin-bottom: 1.4rem;
  margin-top: 1rem;
}

/* footer */
footer {
  background-color: #272d35;
  color: white;
}

.socialmedia-container {
  width: 90%;
  margin: 3rem auto;
  text-align: center;
}

.smflex {
  display: flex;
  padding: 2rem 0;
  list-style: none;
  justify-content: center;
  column-gap: 5px;
  padding-bottom: 5rem;
}

.socialmedia-text {
  padding-top: 8rem;
  font-size: 32px;
}

.social-media-list-items {
  font-size: 30px;
}

.second-footer-list {
  display: flex;
  list-style: none;
  gap: 10px;
}

.second-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
  font-size: 20px;
}

.second-footer {
  border-top: solid 1px rgb(77, 102, 111);
}

/* Media Queries */

@media (max-width: 1200px) {
  .hero-img {
    width: 500px;
  }

  .learn-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto;
  }
  .coursefor {
    flex-direction: column;
  }

  .coursefor-text {
    width: 90%;
  }

  .coursefor-subtext {
    font-size: 18px;
    width: 90%;
  }

  .coursefor-list-items {
    font-size: 16px;
    padding: 0.5rem 0;
  }

  .stats-content-container {
    flex-direction: column;
  }

  .stats-text-container {
    width: 90%;
    margin: 0 auto;
  }

  .stats-numbers {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
  }

  .stats-subtext {
    width: 70%;
  }

  .newsletter-header {
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
  }

  .newsletter-subtext {
    font-size: 16px;
    width: 70%;
    margin: 1rem auto;
  }

  .newsletterform input {
    padding: 1rem 2rem;
    width: 80%;
    border: rgb(202, 202, 202) solid 1px;
    font-size: 16px;
    border-radius: 25px;
    margin-bottom: 1.4rem;
    margin-top: 1rem;
  }
}

@media (max-width: 900px) {
  .hero-img {
    width: 350px;
  }

  .learn-grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .learn-subtext,
  .chapters-subheading,
  .takeaway-subtext {
    width: 90%;
  }
  .takeaway-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    gap: 30px;
    margin-bottom: 2rem auto;
  }
  .course-details-content-container {
    flex-direction: column;
    text-align: center;
  }

  .course-details-border {
    width: 64px;
    height: 4px;
    background-color: #f11313;
    margin: 0 auto;
  }

  .flex-author {
    display: flex;
    flex-direction: column;
  }

  .stats-img {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .nav-list-container .nav-list {
    display: none;
  }

  .nav-container .mobile-menu {
    display: block;
  }

  .nav-container .mobile-menu-list-container {
    height: calc(100dvh - 91.58px);
    overflow-y: auto;
  }

  .hero-header-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    width: 80%;
  }
  .learn-grid-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .learn-subtext {
    width: 80%;
    font-size: 19px;
  }

  .learn-grid-container img {
    width: 80%;
  }

  .chapters-flex {
    flex-direction: column;
    row-gap: 40px;
  }

  .chapter1-subheading {
    width: 90%;
  }

  .summary-points {
    width: 90%;
  }

  .coursefor {
    flex-direction: column;
  }

  .coursefor-text {
    width: 90%;
  }

  .coursefor-subtext {
    font-size: 18px;
    width: 90%;
  }

  .coursefor-header {
    font-size: 30px;
    width: 90%;
  }

  .course-details-img {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .hero-text {
    text-align: center;
  }

  .hero-header {
    font-size: 50px;
  }

  .hero-subtext {
    font-size: 19px;
  }

  .hero-btn {
    font-size: 20px;
  }

  .newsletter-header {
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
  }
}
