* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

/* Navbar */

.logo-img {
  width: 100px;
}

.nav-container {
  background: transparent;
  position: fixed;
  z-index: 1001;
  width: 100%;
  transition: background-color 0.3s ease;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 2rem;
}

.nav-list-container .nav-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.list-items a {
  color: white;
  text-decoration: none;
}

.list-items a:hover {
  color: #ffd000;
}

/* Mobile Menu */
.nav-container .mobile-menu-list-container {
  position: fixed;
  top: 91.58px;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgb(23, 23, 24);
  transition: transform 0.3s ease;
  padding: 1rem;
  transform: translatex(100%); /*Hide the mobile menu items off screen*/
}

.nav-container.navbar-scroll {
  background-color: rgba(235, 77, 85, 0.7);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.mobile-menu-list .mobile-menu-list-items {
  list-style: none;
  padding: 2rem 0;
  font-size: 20px;
}

.mobile-menu-list-items a {
  text-decoration: none;
  color: white;
}

.mobile-menu .mobile-menu-toggle {
  cursor: pointer;
}

.nav-container .mobile-menu {
  display: none;
}

.nav-container .mobile-menu-list-container.active {
  transform: translateX(0);
}

.mobile-menu-list-items a:hover {
  color: #ffd000;
}

/* 
Hero section header */

header {
  background-image: url(images/header-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 12rem 0 5rem;
  margin-top: 0;
}

.hero-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding-bottom: 20rem;
}

.hero-img {
  width: 700px;
}

.hero-header {
  font-size: 65px;
}

.frame-decoration {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
}

.hero-subtext {
  margin-top: 2rem;
  font-size: 20px;
  line-height: 2.3rem;
  margin-bottom: 2rem;
}

.hero-text {
  color: white;
}

.btn {
  padding: 1.4rem 2.3rem;
  background-color: #ffd000;
  font-size: 16px;
  border: none;
  border-radius: 30px;
}

/* Learn section */

.learn-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  column-gap: 30px;
  row-gap: 60px;
}

.learn-text-container {
  text-align: center;
  margin-bottom: 3rem;
}

.learn-header {
  font-size: 40px;
  margin-bottom: 1rem;
}

.heading-border {
  width: 64px;
  height: 4px;
  background-color: #f11313;
  margin: 0 auto 2rem;
}

.learn-subtext {
  margin-top: 2rem;
  font-size: 25px;
  width: 900px;
  margin: 2rem auto;
}

.learn-grid-container img {
  width: 320px;
}

.grid-item p {
  font-weight: 700;
  font-size: 20px;
}

.grid-item img {
  transition: transform 0.3s;
}

.grid-item img:hover {
  transform: scale(1.1);
}

/* Media Queries */

@media (max-width: 1200px) {
  .hero-img {
    width: 500px;
  }

  .learn-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .hero-img {
    width: 350px;
  }

  .learn-grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .nav-list-container .nav-list {
    display: none;
  }

  .nav-container .mobile-menu {
    display: block;
  }

  .nav-container .mobile-menu-list-container {
    height: calc(100dvh - 91.58px);
    overflow-y: auto;
  }

  .hero-header-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    width: 80%;
  }
  .learn-grid-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .learn-subtext {
    width: 80%;
    font-size: 19px;
  }

  .learn-grid-container img {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .hero-text {
    text-align: center;
  }

  .hero-header {
    font-size: 50px;
  }

  .hero-subtext {
    font-size: 19px;
  }

  .hero-btn {
    font-size: 20px;
  }
}
